name: CI

on:
  workflow_dispatch:

jobs:
  test:
    environment: test
    runs-on: ubuntu-latest
    steps:
      - name: Run a one-line script
        run: echo ${{secrets.gege}}
  prod:
    environment: prod
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Run a one-line script
        run: echo ${{secrets.gege}}
