name: CI

on:
  workflow_dispatch:

jobs:
  test:
    environment: test
    runs-on: ubuntu-latest
    steps:
      - name: Run a one-line script
        run: echo 'Hello, from test'
  prod:
    environment: prod
    runs-on: ubuntu-latest
    steps:
      - name: Run a one-line script
        run: echo 'Hello, from prod'
